body {
	background: #E8EAED;
}

.space-50 {
	width: 100%;
	height: 50px;
}

.space-20 {
	width: 100%;
	height: 20px;
}

.greta {
	font-family: 'Orbitron', sans-serif;
}

p {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	/* identical to box height */
	text-align: center;
	color: rgba(0, 0, 0, 0.58);
}

.head2 {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 16px;
	/* identical to box height */
	text-align: center;
	color: rgba(0, 0, 0, 0.58);
}

#webcam-canvas {
	border-radius: 10px;
	box-shadow: 0px 6px 4px 0px #797979;
}