@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Poppins&display=swap');



.footer{
    position: absolute;
    bottom: 0;
    width: 100%;

}
.space-W40{
    width: 40px;
}
h1{
    font-family: 'Orbitron', sans-serif;
}

p{
    font-family: 'Poppins', sans-serif;
}
button{
    font-family: 'Poppins', sans-serif;
}

/*.div-finder{
    border-style: dashed;
    border-color: red;

}*/
.box{
    min-height: 150px;
    background: white;
    margin-right: 5px;

}