

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400&family=Roboto:wght@300&display=swap');





.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #0052cc;
}

.camara {
	min-height: 500px;
	min-width: 500px;
}





#head1 {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 103px;
	line-height: 121px;
	/*display: flex;*/
	/*align-items: center;*/
	/*text-align: center;*/
}

#h11 {

	font-size: 8em;
}



.sbox {
	height: auto;
	margin-right: 25px;
	margin-top: 30px;
	min-width: 200px;

}


/*	div{
 border-style: dotted;
 border-color: rgba(255,0,0,0.5);

 }*/
 
.L-btn-cam {
	/* Webcam - button */



	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


	/* Rectangle 10 */

	width: 80%;
	height: 45px;

	background: #F0F0F0;
	border-radius: 10px;


	/* Click to start webcam */



	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;

	color: rgba(0, 0, 0, 0.54);



}

.alpha-select {
	position: absolute;
	width: 247px;
	height: 17px;


	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	/* identical to box height */


	color: rgba(0, 0, 0, 0.58);
}



.flip-btn {
	/* Flib - button */


	width: 84px;
	height: 41px;

	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;

	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	/* identical to box height */
	color: rgba(0, 0, 0, 0.3);
}


input {

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	border: 0px;
	height: 38px;


	background: #F0F0F0;

}

button {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}